footer {
	height: 100%;
	width: 100%;
	background-color: $primary-color;
	float: left;
}

.title-stagiaires {
	width: 100%;
	position: relative;
	text-align: center;
	height: 350px;
	font-size: 2.3em;
	line-height: 350px;
	background-color: #22313F;
	font-family: "Light", sans-serif;
	color: $secondary-color;
	background-color: #000;
    background-image: url(../img/howtobenoticed_header2.png);
    background-size: cover;
    background-position: center center;
}


footer .profileimages   img{
width: 33.33%;
float:left;
}
footer .banaan {
	    height: 0;
    padding-bottom: 33.3333%;
    float: left;
    background-size: cover;
    position: relative;
    	width: 100%;

}

footer .banaan p {
	position:absolute;
	top:40%;
	left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	color: $secondary-color;
	font-family: "Liquid", sans-serif;
	font-size: 2em;
}

footer .profileimages1{
	width:33.33%;
	background-image: url('../img/renéebl.jpg');
}

footer .profileimages1:hover{
	width:33.33%;
	background-image: url('../img/renée.jpg');
}

footer .profileimages1:hover p{
	display: none;
}

footer .profileimages2{
	width:33.33%;
	background-image: url('../img/glekkebl.jpg');
	
}

footer .profileimages2:hover{
	width:33.33%;
	background-image: url('../img/glekke.jpg');
	
}

footer .profileimages2:hover p{
	display: none;
	
}

footer .profileimages3{
	width:33.33%;
	background-image: url('../img/annelorebl.jpg');
 
}

footer .profileimages3:hover{
	width:33.33%;
	background-image: url('../img/annelore.jpg');

}

footer .profileimages3:hover p{
	display:none;

}

footer .namenprofielen {
	width: 100%;
	float:left;
	background-color: #22313F;
	font-family: "Thin", sans-serif;
	text-align: center;
}

footer .naam {
	width: 33.33%;
	text-align: center;
	line-height: 30px;
	height:30px;
	float:left;
}
footer .namenprofielen a {
	color: white;
	text-decoration: none;
}

footer #profiles-mobile {
	display: none;
}
footer .image-mobile  img{
	width: 100%
}
footer .naam-mobile {
	height:50px;
	line-height: 50px;
	background-color: #22313F;
	font-family: "Light", sans-serif;
	text-align: center;
}
footer .naam-mobile a {
	color: white;
	text-decoration: none;
}
