body {
	position:relative;
	//video overflows vp on IE
	overflow-x: hidden;
}
.left p {
	color: $primary-color;
}

 html {
         background: url(../img/howtobenoticed_header.png) #000 no-repeat center center fixed;
    }
