@font-face {
  font-family: 'regular';
  src: url('../fonts/BrandonText-Regular.otf'); 
}

@font-face {
  font-family: 'Black';
  src: url('../fonts/BrandonText-Black.otf');

}

@font-face {
  font-family: 'Light';
  src: url('../fonts/BrandonText-Light.otf'); 
}

@font-face {
  font-family: 'Liquid';
  src: url('../fonts/DKLiquidEmbrace.ttf'); 
}