
.beans {

}

.beans.active svg#Layer_1 .beanomlijning {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: beanstroke 10s linear forwards;
  
} 
.beans.active svg#Layer_1 .beanomlijning1 {
  opacity:0;
  animation: smoke 10s infinite forwards;
  
}  

.beans.active svg#Layer_1 .beanomlijning2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: beanstroke2 10s linear forwards;
  
}         




@keyframes beanstroke {

     0%   {stroke-dashoffset: 1000;}
    20%  {stroke-dashoffset: 0;}
    50%  {stroke-dashoffset: 0;}
    75%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
}

@keyframes beanstroke2 {

     2%   {stroke-dashoffset: 1000;}
    22%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
    
}


@keyframes smoke {

    0%   {opacity:0;}
    19%   {opacity:1;}
    20%  {;opacity:0;}
    30%   {opacity:0;}
    45%   {opacity:1;}
    56%   {opacity:0;}
    65%   {opacity:0;}
    75%   {opacity:1;}
    78%   {opacity:0;}
    85%   {opacity:0;}
    95%   {opacity:1;}
    97%   {opacity:0;}
    

}
