
.fifa {
    
}
.fifa.active svg#Layer_1  .gamingomlijning {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: gamingstroke 10s linear forwards;
  
}  

 .fifa.active svg#Layer_1 .gamingomlijning2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: gamingstroke2 10s linear forwards;
  
}         


.fifa.active svg#Layer_1 .gamingbollen {

  animation: gamingalpha 10s linear forwards;
  
}

.fifa.active svg.gamepad {
  animation: shake 10s  infinite;
}

@keyframes gamingstroke {

     0%   {stroke-dashoffset: 1000;}
    20%  {stroke-dashoffset: 0;}
    50%  {stroke-dashoffset: 0;}
    75%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
}

@keyframes gamingstroke2 {

     2%   {stroke-dashoffset: 1000;}
    72%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
    
}

@keyframes gamingalpha {

     0%   {opacity: 0;}
    12%  {opacity: 0;}
    15%  {opacity: 1;}

}

@keyframes shake {

     0%   {transform: rotate(0deg);}
     22% {transform: rotate(0deg);}
     23% {transform: rotate(10deg);}
     24% {transform: rotate(4deg);}
     25% {transform: rotate(9deg);}
     26% {transform: rotate(2deg);}
     27% {transform: rotate(12deg);}
     28% {transform: rotate(4deg);}
     29% {transform: rotate(8deg);}
     30% {transform: rotate(8deg);}
     40% {transform: rotate(0deg);}
     42% {transform: rotate(0deg);}
     43% {transform: rotate(10deg);}
     44% {transform: rotate(4deg);}
     45% {transform: rotate(9deg);}
     46% {transform: rotate(2deg);}
     47% {transform: rotate(12deg);}
     48% {transform: rotate(4deg);}
     49% {transform: rotate(8deg);}
     50% {transform: rotate(0deg);}
     60% {transform: rotate(0deg);}
     62% {transform: rotate(0deg);}
     63% {transform: rotate(10deg);}
     64% {transform: rotate(4deg);}
     65% {transform: rotate(9deg);}
     66% {transform: rotate(2deg);}
     67% {transform: rotate(12deg);}
     68% {transform: rotate(4deg);}
     69% {transform: rotate(8deg);}
     70% {transform: rotate(0deg);}
     80% {transform: rotate(0deg);}
     82% {transform: rotate(0deg);}
     83% {transform: rotate(10deg);}
     84% {transform: rotate(4deg);}
     85% {transform: rotate(9deg);}
     86% {transform: rotate(2deg);}
     87% {transform: rotate(12deg);}
     88% {transform: rotate(4deg);}
     89% {transform: rotate(8deg);}
     90% {transform: rotate(0deg);}
     100% {transform: rotate(0deg);}

}