.arrow img {

  animation: arrow 1.5s ease-out infinite;
}

@keyframes arrow {

      
     40%  {bottom:  30px;}
     
}

.logonoticed svg#Layer_1 .stroke1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: noticedstroke 5s linear forwards;
  
} 
@keyframes noticedstroke {

     0%   {stroke-dashoffset: 1000;}
    20%  {stroke-dashoffset: 0;}
    50%  {stroke-dashoffset: 0;}
    75%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
}

.logonoticed svg#Layer_1 .stroke2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  opacity: 1;
  animation: noticedstroke2 5s linear forwards;
  
} 
@keyframes noticedstroke2 {

     0%   {stroke-dashoffset: 1000;opacity:0;}
    19%  {stroke-dashoffset: 1000;opacity:0;}
    20%  {stroke-dashoffset: 1000;opacity:1;}
    75%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
}
