

.aap {

}

.aap.active svg#Layer_1 .monkeyomleiding{

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: monkey 10s linear forwards;
   
}         

.aap.active svg#Layer_1 .monkeyomleiding1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;  
  animation: monkey1 10s linear forwards;
}

.aap.active svg#Layer_1 .monkeyomleiding2 
{
    stroke-dasharray: 1000;
  stroke-dashoffset: 1000; 
  animation: monkey2 10s linear forwards;
}

.dun{
  stroke-width:3;
}
.dik {
  stroke-width:8;
}
.st0{fill:none;stroke:#BCE0DE;stroke-width:8;stroke-miterlimit:10;}
.st1{fill:none;stroke:#BCE0DE;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{fill:none;stroke:#BCE0DE;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
.st3{fill:#BCE0DE;
  }


@keyframes monkey {

     0%   {stroke-dashoffset: 1000;}
    25%  {stroke-dashoffset: 0;}
    50%  {stroke-dashoffset: 0;}
    75%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
}
@keyframes monkey1 {

     0%   {stroke-dashoffset: 1000;}
    2%  {stroke-dashoffset: 1000;}
    50%  {stroke-dashoffset: 0;}
    75%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}

}
@keyframes monkey2 {

     0%   {stroke-dashoffset: 1000;}
    3%  {stroke-dashoffset: 1000;}
    50%  {stroke-dashoffset: 0;}
    75%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}

}