

.aap {
 
}

.aap.active g#Layer_1 .monkeyomleiding{

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: monkey 10s linear forwards;
   
}         

.aap.active g#Layer_1 .monkeyomleiding1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;  
  animation: monkey1 10s linear forwards;
}

.aap.active g#Layer_1 .monkeyomleiding2 
{
    stroke-dasharray: 1000;
  stroke-dashoffset: 1000; 
  animation: monkey2 10s linear forwards;
}

.aap.active g.wink {
    opacity: 0;
    animation: monkey3 10s linear forwards;

}



@keyframes monkey {

     0%   {stroke-dashoffset: 1000;}
    25%  {stroke-dashoffset: 0;}
    50%  {stroke-dashoffset: 0;}
    75%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
}
@keyframes monkey1 {

     0%   {stroke-dashoffset: 1000;}
    2%  {stroke-dashoffset: 1000;}
    50%  {stroke-dashoffset: 0;}
    75%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}

}
@keyframes monkey2 {

     0%   {stroke-dashoffset: 1000;}
    3%  {stroke-dashoffset: 1000;}
    50%  {stroke-dashoffset: 0;}
    75%  {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}

}
@keyframes monkey3 {

     0% {opacity: 0;}
     22% {opacity: 0;}
     23% {opacity: 1;}
     27% {opacity: 1;}
     28% {opacity: 0;}
}